@CHARSET "ISO-8859-1";
body{
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif
}

#login-frame{
	width: 400px;
	height: 220px;
	margin: auto;
	margin-top: 150px;
	text-align: center;
	background-color: #007A74 !important
}

.title-login-frame{
	padding: 10px 0 10px 0;
	font-size: 20pt;
	color: white;
}

.content-login-frame{
	
}

.username-input-login-frame{
	
}

.password-input-login-frame{
	
}

.input-login-frame{
	border: 1px #bababa solid;
	width: 300px;
	padding: 4px 6px 6px 10px;
	min-height: 32px;
	font-size: 15px;
	color: #00171A;
}

.input-login-frame::-webkit-input-placeholder{
	font-size: 15px;
	font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif
}

.login-button-login-frame{
	margin-top: 10px;
}

.button-login-frame{
	border: 1px transparent solid;
	border-radius: 0;
	color: white;
	background-color: #004C48;
	padding: 4px 17px;
	font-size: 16px;
	height: 35px;
	width: auto;
	font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	cursor: pointer;
}

.button-login-frame:active{
	background-color: #002732
}